body {
    background-color: black;
    color: #22ca8c;
}

header {
   height: calc(30vh - 25px);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: CurlZ mt;
   font-size:4rem;
}

.title {
    font-size: 8rem;
}

#time-date {
  color: aqua;
}

.orderHeader {
  font-size: xx-large;
}

.jumbotron {
   background-image: url(/assets/images/blackWhiteLeaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(40vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: greenyellow;
  }

  img.pull-right {
  border: none;
  width: 300px;
  height:300px;
  object-fit: contain;
}
  

.design-your-own {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
}
/* card deck of ready made tshirts */
.card-deck {
    background-color: black;
}

h3, a {
  background-color: black;
  text-align: center;
  font-size: xx-large;
}

.card {
    border: none;
    background-color: black;
}

/* the design-your-own quote section */

.quote-card {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-family:algerian;
  }

  p {
    font-size: xx-large;
    max-width: 100%;
    max-height: 100%;
  }
  .quote-card {
    width: 80%;
    max-width: 300px;
  }
  .card-body {
    padding: 40px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: black;
    height: 1300px;
    width: 130px;
    min-height: 100%; 
}

.grid-child.purple {
    background-image: url(/assets/images/Big-Tshirt);
    background-size: 1400px;
    background-position: center;
    position: relative;
    width: 1300px;
    height: 1300px;
}

.grid-child.green {
  width: 100%
}

.blockquote-footer {
  font-size: x-large;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #47fa41;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #19f1cd;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0fe4c8;}
/* 
// tutoring  */
#image-container {
  display: flex;
  width: 100%;
}

img {
  width:100%;
}

.orderHeader {
  height: 300px;
  text-align: center;

}

.saveDesigns {
  font-size: xxx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.basket {
color: aqua;
position: absolute;
left: 150px;  
width: 1000px;
height: 120px;

}

button {
  background-color: #04AA6D;
  text-align: center;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  width:200px;
  margin:auto;
  border-radius: 30px;;

}